html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.banner-content {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: flex-start;
  align-items: flex-start;
  width: 45em;
}

.banner-content img {
  width: 38%;
  padding: .5rem 1.2rem 1.2rem;
}

.banner-text {
  width: 50%;
  padding: 1.2rem 0 0;
}

.banner h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 3rem;
  line-height: 1.2;
  margin: 0;
}

.banner p {
  font-size: 1.5rem;
  margin: 0;
}

.btn {
  display: inline-block;
  padding: .3em .75em .5em;
  border: 3px solid #373535;
  border-radius: 8px;
  background-color: #373535;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: bold;
  color: #fff;
  margin: 1rem 0;
}

.btn-big {
  font-size: 1.5rem;
}

.btn:hover {
  background-color: #000;
}
